## Decision Tree and Random Forest Projects

In [4]:
#Import main libraries
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

We will use the **Car Evaluation Data Set** from Kaggle: https://www.kaggle.com/datasets/elikplim/car-evaluation-data-set

In [5]:
#Load Dataset
df_car = pd.read_csv("../data/raw/car_evaluation.csv", header=None)

### Exploratory Analysis

In [6]:
## Visualize data
df_car.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [7]:
## Look for the shape
df_car.shape

(1728, 7)

In [8]:
## Change header names
col_names=["buying","maint","doors","persons","lug_boot","safety","class"]
df_car.columns = col_names

In [ ]:
## Visualize data types
df_car.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
class       object
dtype: object

In [ ]:
## Explore targeting value
df_car['class'].value_counts()

class
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [12]:
#Verify missing values
df_car.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64